SECRET_KEY=your_secret_key_here
ALGORITHM=HS256
SENTRY_DSN=your_sentry_dsn_here

REDIS_URL=redis://redis:6379

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name

DATABASE_URL=postgresql+asyncpg://your_user:your_password@db:5432/your_database

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM=your_email@gmail.com

GRAFANA_ADMIN_PASSWORD=

FLOWER_USER=
FLOWER_PASSWORD=

PGADMIN_EMAIL=
PGADMIN_PASSWORD=