SECRET_KEY=test_secret_key_change_me
ALGORITHM=HS256
SENTRY_DSN=

REDIS_URL=redis://localhost:6380

POSTGRES_USER=hard_skill
POSTGRES_PASSWORD=change_me
POSTGRES_DB=backend_azim

DATABASE_URL=postgresql+asyncpg://hard_skill:change_me@localhost:5432/backend_azim

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_test_email@gmail.com
SMTP_PASSWORD=your_test_app_password
SMTP_FROM=your_test_email@gmail.com

GRAFANA_LOGIN=admin
GRAFANA_ADMIN_PASSWORD=change_me

FLOWER_USER=admin
FLOWER_PASSWORD=change_me

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=change_me